tmp/
results/*.transcript
results/*.transcript.err
results/*.transcript.json
skeletons/*/_build/
skeletons/*/deps/
skeletons/*/*.db
skeletons/*/*.db-*
reference/*/_build/
reference/*/deps/
reference/*/*.db
